@model SurveyApp.MVC.Models.SurveyDisplayVM

@{
    ViewData["Title"] = "FillSurvey";
}

<h1 class="text-center">
    <b>@Html.DisplayFor(modelItem => Model.SurveyTitle)</b>
</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="FillSurvey">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @{
                    int j = 0;
                }
                @foreach (var question in Model.Questions)
                {
                    int i = 0;

                    int questionEnum = question.Type;
                    string questionType = "";
                    switch (questionEnum)
                    {
                        case 0:
                            questionType = "input";
                            break;
                        case 1:
                            questionType = "textarea";
                            break;
                        case 2:
                            questionType = "radio";
                            break;
                        case 3:
                            questionType = "checkbox";
                            break;
                        case 4:
                            questionType = "rating";
                            break;
                        default:
                            questionType = "input";
                            break;
                    }

                    <div class="form-control-plaintext">
                        <b>@Html.DisplayFor(modelItem => question.Title)</b>
                    </div>

                    @if (questionType.Equals("rating"))
                    {
                        @Html.Raw("<div class='d-flex'>")
                    }

                    @foreach (var option in question.Options)
                    {
                        if (questionType.Equals("textarea"))
                        {
                            <div class="form-group mb-2">
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        }
                        else if (questionType.Equals("rating"))
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions-@j" id="inlineRadio-@i"
                                       value="option-@i" />
                                <label class="form-check-label" for="inlineRadio-@i">@i</label>
                            </div>
                        }
                        else if (questionType.Equals("input"))
                        {
                            <div class="form-group mb-2">
                                <input class="form-control" type="@questionType" />
                            </div>
                        }
                        else
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="@questionType" name="exampleForm-@j" id="input-@i" />
                                <label class="form-check-label" for="input-@i">
                                    @option.Title
                                </label>
                            </div>
                        }
                        i++;
                    }

                    @if (questionType.Equals("rating"))
                    {
                        @Html.Raw("</div>")
                    }
                    j++;
                    <hr />
                }
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Oyla" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
